{% extends "base.html.twig" %}

{% block title %}{{ "Error" | trans }}{% endblock %}

{% block body %}
    <p class="align-center">
        {{ "The link you clicked is invalid because the community cannot be resolved:"|trans }}
        <strong>{{ community }}</strong>.
    </p>
{% endblock %}
